<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.simpsonstrial2"
      android:versionCode="9"
      android:versionName="2.0">
    <uses-sdk android:minSdkVersion="14"
              android:targetSdkVersion="22" />
	
	<supports-screens
        android:largeScreens  = "true"
        android:smallScreens  = "true"
        android:normalScreens = "true"
        android:anyDensity    = "true"
    />

			  
    <application
        android:icon="@drawable/icon"
        android:label="@string/app.title"
        android:name="MyApplication"
        android:theme="@style/MyMaterialTheme">
       
        <activity
            android:name=".activities.MainMenuActivity"
            android:theme="@style/MyMaterialTheme.BrandedLaunch"
            android:label="@string/app.title"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.QuestionActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.HighScoreActivity" android:screenOrientation="portrait" android:label="@string/results.tab.leaderboard"></activity>
        <activity android:name=".activities.ResultsActivity" android:screenOrientation="portrait"></activity>

    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>